openai
python-dotenv
pandas
gspread
gspread_dataframe
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
PyMuPDF
easyocr
Pillow
numpy
streamlit==1.30.0
streamlit-authenticator
google-genai
altair==4.2.2
ffmpeg-python
